/*Fonts & Globals Start*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Libre+Baskerville|Source+Serif+Pro&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Serif Pro';
    color: rgb(1, 41, 1);
}


ul {

    font-size: 18px;
    text-align: center;
    display: block;
    text-align: left;
}

.hero-white {
    font-size: 65px;
    color: whitesmoke;

    text-align: center;
}

.sub-hero-white {
    font-size: 30px;
    color: whitesmoke;
    margin-top: -50px;
    text-align: center;
}

.hero-black {
    font-size: 40px;
    color: black;
    text-align: center;
}

.sub-hero-black {
    font-size: 30px;
    color: black;
    margin-top: -50px;
    text-align: center;
}

p,
a {
    font-family: 'Libre Baskerville', sans-serif;
    color: rgb(29, 29, 29);
}

p {
    font-size: 16px;
}

.overview-text {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 16px;
    text-align: center;
    margin-top: -15px;
}

.overview-text-bottom {
    margin-bottom: 50px;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

/*Fonts & Globals End*/


/* Navbar Section Start*/

.announcement-bar-section {
    width: 100%;
    height: 150px;
    border: solid 1px rgb(119, 119, 119);
    background-color: gainsboro;
}

#announcement {
    font-size: 24px;
    font-weight: bold;
    color: green;
}

.navbar-container {
    width: 100%;
    height: 24px;
    border: solid 1px rgb(119, 119, 119);
    background-color: gainsboro;
}

#logo {
    width: 75px;
    height: 75px;
    position: absolute;
    margin-left: 5px;

}

#menu-button {
    display: none;
}


.link {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.link:hover {
    transition: color 0.25s;
    color: green;
}

/*Navbar Section End*/

/*Hero Section Starts*/
.hero-section-container {
    min-width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;

}

/*Hero Section Ends*/

/*About Section Starts*/
.about-section {
    width: 100%;

    margin-bottom: 25px;
}

.about-section .overview-text {
    margin-bottom: 25px;
}

#about-video {
    max-width: 75%;
}

/*About Section Ends*/

/*Testimonial Section*/

.testimonial-section {}

.testimonial-section ul {
    list-style: none;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.testimonial-section .overview-text {}

.testimonial {
    margin-bottom: 25px;
}

.testimonial .overview-text {
    margin-bottom: 25px;
}

.testimonial ul {
    margin-top: 25px;
}

#wwMainLogoPic {
    margin-top: -200px;
    width: 700px;
    height: 500px;
}

.contact-section {
    width: 100%;
    height: 50vh;

}

#cell {
    display: block;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 0px;
}

/*Footer Section Starts*/

.footer-section {
    width: 100%;
    height: 110px;
    background-color: rgb(102, 101, 101);
    bottom:0;
}

.footer-logo {
    width: 50px;
    height: 50px;
}


.f-description-text {
    font-size: 16px;
    position: absolute;
    color: white;
}

#cc {
    width: 300px;
    height: 50px;
    position: absolute;
    margin-top: 50px;
}


/*Footer Section Ends*/

/*Company Overview Section Starts*/
.company-overview-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: gainsboro;
    padding-bottom: 100px;
}

.company-overview-section h3 {
    font-size: 30px;
}

.company-overview-symbols-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    
}

.co-item {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 50px;
}

.co-item h6 {
    max-width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}



.co-item img {
    width: 75px;
    height: 75px;
    margin-top: -25px;
}

.co-item p {
    max-width: 150px;
    text-align: center;
    font-size: 18px;

}

/*Company Overview Section Ends*/

/*Media Queries Start*/
@media (max-width: 757px) {
    .announcement-bar-section {
        height: 100px;
    }

    #announcement {
        font-size: 14px;

    }

    .navbar-container {
        height: 25px;
        width: 100%;
    }

    #logo {
        width: 45px;
        height: 45px;
    }


    .link {
        font-size: 12px;

    }
    .hero-section-container {
        height: 75vh;
        position: relative;
        z-index: 0;
    
    }

    .hero-white {
        font-size: 35px;
        border: none;
    }

    .sub-hero-white {
        font-size: 15px;
        margin-top: -20px;
    }

    .hero-black {
        font-size: 35px;
        border: none;
    }

    .sub-hero-black {
        font-size: 15px;
        margin-top: -20px;
    }

    .overview-text {
        font-size: 16px;
    }

    .about-section {
        width: 100%;
    }

    #about-video {
        max-width: 75%;
    }


    #wwMainLogoPic {
        margin-top: -400px;
        width: 300px;
        height: 200px;
    }



    .contact-section {
        width: 100%;
        height: 50vh;

    }

    .company-overview-symbols-section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: center;
    }

    .company-overview-section {
        padding-bottom: 0px;
    }

    .co-item {
        height: 200px;
        margin: 0px;

    }

    .co-item h6 {
        display: none;
    }

    .testimonial-section ul {
        padding-left: 5%;
        padding-right: 5%;
    }

    /*Footer Section Starts*/

    .footer-section {
        width: 100%;
        height: 80px;
        background-color: rgb(185, 185, 185);
        bottom: 0;
    }

    .footer-logo {
        width: 40px;
        height: 40px;
        left: 0;
    }
    #cc {
     margin-top: 40px;   
        width: 200px;
        height: 40px;
        position: absolute;
    }

    .footer-link-section {}

    .f-description-text {
        font-size: 12px;
        position: absolute;
        color: green;

    }

    /*Footer Section Ends*/


    #cell {
        display: none;

    }

}


/*Media Queries End*/